/* Main */
main > section.matches {
    padding: 2rem;
    margin-bottom: 2rem;
}

    main > section.matches > time {
        font-size: 1.8rem;
        display: block;
        padding-bottom: 2rem;
        color: var(--active-text-color);
    }

    main > section.matches > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--separator-color);
    }

        main > section.matches > ul > li {
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 1px dotted var(--separator-color);
        }

            main > section.matches > ul > li:hover,
            main > section.matches > ul > li:focus {
                background: linear-gradient(270deg,var(--active-text-color),var(--active-row-background-color) 45%);
                color: var(--white);
            }

            main > section.matches > ul > li > i {
                transition: padding-right 0.2s;
                padding-right: 0.5rem;
            }

            main > section.matches > ul > li:hover,
            main > section.matches > ul > li:focus {
                cursor: pointer;
            }

                main > section.matches > ul > li:hover > i,
                main > section.matches > ul > li:focus > i {
                    padding-right: 0;
                }

            main > section.matches > ul > li > div {
                align-items: center;
                gap: 1rem;
                justify-content: center;
            }

                main > section.matches > ul > li > div:first-of-type {
                    flex: 0 0 40%;
                }

                    main > section.matches > ul > li > div:first-of-type > span {
                        font-size: 1.5rem;
                        color: var(--active-text-color);
                    }

            main > section.matches > ul > li:hover > div:first-of-type > span,
            main > section.matches > ul > li:focus > div:first-of-type > span {
                color: var(--white);
            }

            main > section.matches > ul > li > div:first-of-type > .score {
                padding: 0.5rem;
                font-size: 1.3rem;
                color: var(--white);
                background-color: var(--active-text-color);
            }

                main > section.matches > ul > li > div:first-of-type > .score > span {
                    padding: 0 0.5rem;
                    color: var(--active-text-color);
                    position: relative;
                }

                    main > section.matches > ul > li > div:first-of-type > .score > span:before {
                        content: " ";
                        display: block;
                        width: 0.1rem;
                        height: 2.1rem;
                        background: hsla(0,0%,100%,.2);
                        position: absolute;
                        top: -0.15rem;
                        left: 50%;
                    }

            main > section.matches > ul > li > div:first-of-type > img {
                width: 2rem;
                height: 2rem;
            }

            main > section.matches > ul > li > div:nth-of-type(2) {
                justify-content: start;
                flex: 1;
            }

                main > section.matches > ul > li > div:nth-of-type(2) > img {
                    width: 2rem;
                    height: 2rem;
                }

/* ------------------- */
/* Mobile view         */
/* ------------------- */
@media only screen and (max-width : 767px) {
    main {
    }
}