/* Main */
main > header.hero {
    position: relative;
    z-index: 1;
}

    main > header.hero > .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        opacity: 0.2;
        background-image: url('./images/player.jpg');
    }

main > table {
    text-align: left;
    margin-bottom: 2rem;
}

    main > table tbody tr > *:first-of-type {
        padding: 0.75rem 0.625rem 0 0.625rem;
    }

    main > table tbody > tr td a {
        display: flex;
        align-items: center;
        color: var(--active-text-color);
        font-size: 1.1rem;
    }

        main > table tbody > tr td a span {
            padding-bottom: 0.625rem;
        }

        main > table tbody > tr td a img {
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
        }

/* -------------------- */
/* Mobile + Tablet view */
/* -------------------- */
@media only screen and (max-width : 1023px) {
    main > header.hero > .background {
        background-image: url('./images/player_mobile.jpg');
    }
}

/* ------------------- */
/* Mobile view         */
/* ------------------- */
@media only screen and (max-width : 767px) {
    main > table tr .position {
        display: none;
    }
}
