/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%); /*  (with 75% opacity for lightbox background) */

    --background-color: #F3F4F7;
    --text-color: #959FA8;
    --active-text-color: #172C41;
    --active-row-background-color: #8B96A0;
    --navigation-menu-color: #A0A8B1;
    --box-shadow-color: #BDBDBD;
    --separator-color: #EFEFEF;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

ul {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ------------------- */
/* General             */
/* ------------------- */
html {
    font-size: 1.12vw; /* 16px for 1440px-viewport */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--text-color);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    text-align: left;
    padding: 0 1rem;
    --gap: 0;
}

.card {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 3px 2px var(--box-shadow-color);
}

button {
    border: none;
    outline: none;
    width: fit-content;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

    button:hover,
    button:focus {
        cursor: pointer;
    }

/* Header */
body > header {
    position: relative;
    padding: 0 1rem;
    background-color: var(--white);
    box-shadow: 0 3px 2px var(--box-shadow-color);
}

    body > header > .navigation-bar {
        --gap: 0;
        justify-content: space-between;
    }

        body > header > .navigation-bar > .left {
            align-items: center;
        }

            body > header > .navigation-bar > .left > #menu {
                display: none;
            }

            body > header > .navigation-bar > .left > .logo {
                margin-right: 2rem;
                height: 2rem;
                align-items: center;
                color: var(--active-text-color);
                text-decoration: inherit;
            }

                body > header > .navigation-bar > .left > .logo > img {
                    height: 100%;
                }

            body > header > .navigation-bar > .left > ul.navigation-menu {
                color: var(--navigation-menu-color);
                text-transform: none;
                font-weight: normal;
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 1.2rem;
            }

                body > header > .navigation-bar > .left > ul.navigation-menu > li {
                    margin-right: 2rem;
                    margin-left: 0;
                    display: inline-block;
                }

                    body > header > .navigation-bar > .left > ul.navigation-menu > li > a {
                        display: inline-block;
                        line-height: 4rem;
                        padding-bottom: 0.25rem;
                        color: inherit;
                        text-decoration: inherit; /* no underline */
                    }

                        body > header > .navigation-bar > .left > ul.navigation-menu > li.active > a,
                        body > header > .navigation-bar > .left > ul.navigation-menu > li > a:hover,
                        body > header > .navigation-bar > .left > ul.navigation-menu > li > a:focus {
                            padding-bottom: 0;
                            border-bottom: 0.25rem solid var(--active-text-color);
                        }

            body > header > .navigation-bar > .left > .overlay,
            body > header > .navigation-bar > .left > #menu-close-button {
                display: none;
            }

        body > header > .navigation-bar > .right {
            align-items: center;
            padding-bottom: 0.25rem;
        }

            body > header > .navigation-bar > .right > button {
                display: inline-block;
                margin-right: 1rem;
                line-height: 2.25rem;
                vertical-align: middle;
                background-color: inherit;
            }

            body > header > .navigation-bar > .right > a {
                display: inline-block;
                line-height: 4rem;
                vertical-align: middle;
            }

                body > header > .navigation-bar > .right > a > .avatar {
                    height: 3.125rem;
                    aspect-ratio: 1;
                    vertical-align: middle;
                    margin: 0.25rem;
                }

                body > header > .navigation-bar > .right > a:hover > .avatar,
                body > header > .navigation-bar > .right > a:focus > .avatar {
                    border: 0.25rem solid var(--active-text-color);
                    border-radius: 1.8125rem;
                    height: 3.625rem;
                    margin: 0;
                }

    body > header > .line {
        /*border-bottom: 0.0625rem solid var(--gray);*/
    }

    body > header > #cart-popup {
        --gap: 0;
        position: absolute;
        bottom: -14.8125rem;
        right: -4.75rem;
        min-width: 22.5rem;
        height: 16rem;
        z-index: 10;
        background-color: var(--white);
        border-radius: 0.625rem;
        box-shadow: 0px 20px 50px -20px var(--box-shadow-color);
        display: none;
    }

        body > header > #cart-popup > .title {
            flex: 0 0 4.1875rem;
            /*border-bottom: 0.0625rem solid var(--gray);*/
            align-items: center;
        }

            body > header > #cart-popup > .title > div {
                margin-left: 1.5rem;
                line-height: 1rem;
                /*color: var(--very-dark-blue);*/
                font-weight: bold;
            }

/* Main */
main > header.hero {
    height: 18rem;
    display: flex;
    align-items: center;
    background-color: var(--active-text-color);
    color: var(--white);
    margin: 0 -1rem 2rem -1rem;
    padding-left: 1rem;
}

    main > header.hero > h1 {
        font-size: 5rem;
        font-weight: normal;
    }

main > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    overflow: hidden;
    text-align: center;
}

    main > table > thead {
        background-color: var(--active-row-background-color);
        color: var(--white);
        font-weight: normal;
    }

        main > table > thead > tr > th {
            font-weight: normal;
        }

            main > table > thead > tr > th > .short {
                display: none;
            }

    main > table tr > * {
        padding: 0.75rem 0.625rem;
    }

    main > table tbody > tr {
        border-bottom: 1px solid var(--separator-color);
    }

/* ------------------- */
/* Mobile view         */
/* ------------------- */
@media only screen and (max-width : 767px) {
    html {
        font-size: 4vmin; /* 15px for 375px-viewport */
    }

    body {
        line-height: 1.667rem; /* 25px */
    }

    .container {
        padding: 0 1.6rem 5.866rem 1.6rem;
    }

    /* Header */
    body > header {
        margin-top: 1rem;
        margin-bottom: 1.4rem;
    }

        body > header > .navigation-bar > .left > #menu {
            height: 1rem;
            display: block;
        }

        body > header > .navigation-bar > .left > .logo {
            margin: 0 0 0 1.066rem;
            height: 1.33rem;
        }

        body > header > .navigation-bar > .left > ul.navigation-menu {
            display: none;
        }

            body > header > .navigation-bar > .left > ul.navigation-menu.mobile {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 16.66rem;
                height: 100vh;
                background-color: var(--white);
                z-index: 13;
                display: flex;
                flex-direction: column;
                padding: 6.133rem 0 0 1.666rem;
            }

                body > header > .navigation-bar > .left > ul.navigation-menu.mobile > li {
                    margin-right: 0;
                }

                    body > header > .navigation-bar > .left > ul.navigation-menu.mobile > li > a {
                        line-height: 1.733rem;
                        font-size: 1.2rem;
                        font-weight: bold;
                        /*color: var(--very-dark-blue);*/
                        padding-top: 0.5415rem;
                        padding-bottom: 0.5415rem;
                        padding-left: 0.5rem;
                        width: 100%;
                    }

                        body > header > .navigation-bar > .left > ul.navigation-menu.mobile > li > a:focus,
                        body > header > .navigation-bar > .left > ul.navigation-menu.mobile > li > a:hover {
                            border-left: 0.25rem solid var(--active-text-color);
                            padding-left: 0.25rem;
                            border-bottom: 0;
                        }

        body > header > .navigation-bar > .left > .overlay.mobile {
            display: block;
            z-index: 12;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--black);
            opacity: 0.75;
        }

        body > header > .navigation-bar > .left > #menu-close-button.mobile {
            position: fixed;
            top: 1.6rem;
            left: 1.6rem;
            display: block;
            z-index: 13;
            background-color: transparent;
        }

        body > header > .navigation-bar > .right {
            padding-bottom: 0;
        }

            body > header > .navigation-bar > .right > #view-cart-button {
                margin-right: 1.466rem;
                line-height: inherit;
            }

                body > header > .navigation-bar > .right > #view-cart-button > span > svg.cart {
                    height: 1.33rem;
                }

            body > header > .navigation-bar > .right > a {
                line-height: inherit;
            }

                body > header > .navigation-bar > .right > a > .avatar {
                    height: 1.6rem;
                }

                body > header > .navigation-bar > .right > a:hover > .avatar,
                body > header > .navigation-bar > .right > a:focus > .avatar {
                    height: 2.1rem;
                }

        body > header > .line {
            border-bottom: 0;
        }

        body > header > #cart-popup {
            bottom: unset;
            right: -1.133rem;
            top: 4.266rem;
            width: 24rem;
            height: 17.066rem;
            border-radius: 0.666rem;
        }

            body > header > #cart-popup > .title {
                flex: 0 0 4.466rem;
            }

            body > header > #cart-popup > .content > #full-cart {
                padding: 1.6rem 1.6rem 2.133rem 1.6rem;
            }

                body > header > #cart-popup > .content > #full-cart > .full-cart-content {
                    height: 3.4rem;
                    margin-bottom: 1.6rem;
                }

                body > header > #cart-popup > .content > #full-cart > #checkout-cart-button {
                    border-radius: 0.666rem;
                    line-height: 1.066rem;
                    padding-top: 1.466rem;
                    padding-bottom: 1.2rem;
                }
}
