/* Main */
main > section {
    margin-bottom: 2rem;
}

main .card > header > h3 {
    padding: 1rem;
}

main > section > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

main > section .statsHero {
    position: relative;
    background: linear-gradient(270deg,var(--active-text-color),var(--active-row-background-color) 45%);
    color: var(--white);
    border-radius: 3px;
    padding: 1rem;
    margin: 0 1rem;
}

    main > section .statsHero .statName {
        font-size: 1.3rem;
    }

    main > section .statsHero .statNameSecondary,
    main > section .statsRow .statNameSecondary {
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 0.9rem;
    }

    main > section .statsHero a,
    main > section .statsRow a {
        display: block;
    }

    main > section .statsHero > .statInfo > .stat {
        font-size: 1.5rem;
        color: var(--active-text-color);
        font-weight: bold;
    }

    main > section .statsHero > .statInfo > :not(:last-child) {
        margin-bottom: 0.25rem;
    }

    main > section .statsHero > a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
    }

        main > section .statsHero > a > .badge-image {
            width: 7.25rem;
            height: 7.25rem;
        }

    main > section .statsHero .heroBadgeContainer {
        bottom: .7rem;
        right: .7rem;
        width: 2.8rem;
        height: 2.8rem;
        position: absolute;
        border-radius: 100%;
        background: #fff;
        z-index: 1;
    }

        main > section .statsHero .heroBadgeContainer .badge-image {
            position: absolute;
            top: 20%;
            left: 20%;
            width: 60%;
            height: 60%;
            margin: 0;
        }

    main > section .statsHero .imgCropContainer .statCardImg {
        position: absolute;
        right: 1rem;
        bottom: 0;
        max-width: 60%;
        max-height: 95%;
        -o-object-fit: contain;
        object-fit: contain;
    }

main > section .statsRow {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--separator-color);
}

    main > section .statsRow .statName {
        font-size: 1.1rem;
    }

    main > section .statsRow > .pos {
        margin-right: 0.5rem;
    }

    main > section .statsRow > .statsBadge {
        margin-right: 0.5rem;
    }

    main > section .statsRow > .teamInfo > .statName {
        color: var(--active-text-color);
    }

    main > section .statsRow > .stat {
        font-size: 1.1rem;
        color: var(--active-text-color);
        margin-left: auto;
        font-weight: bold;
    }

    main > section .statsRow .badge-image {
        width: 3rem;
        height: 3rem;
    }

main hr {
    margin-bottom: 2rem;
}

/* ------------------- */
/* Tablet view         */
/* ------------------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) {
    main > section > ul {
        grid-template-columns: repeat(2, 1fr);
    }    
}

/* ------------------- */
/* Mobile view         */
/* ------------------- */
@media only screen and (max-width : 767px) {
    main > section > ul {
        grid-template-columns: 1fr;
    }        
}
