/* Main */
main > table {
    margin-bottom: 2rem;
}

    main > table tr > *.team {
        text-align: left;
    }

        main > table tr > *.team * {
            vertical-align: middle;
        }

        main > table tr > *.team > a {
            display: block;
            width: 100%;
        }

            main > table tr > *.team > a:hover, main > table tr > *.team > a:focus {
                text-decoration: underline;
            }

            main > table tr > *.team > a > img {
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
                display: inline-block;
            }

    main > table tbody tr > *.team {
        font-size: 1.1rem;
        color: var(--active-text-color);
    }

    main > table tr > *.form {
        display: flex;
        justify-content: center;
    }

    main > table tr > *.point {
        color: var(--active-text-color);
        font-weight: bold;
    }

a.bubble {
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: inherit;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

    a.bubble:not(:last-of-type) {
        margin-right: 0.25rem;
    }

    a.bubble.win {
        background-color: #13cf00;
    }

        a.bubble.win::after {
            content: 'W';
        }

    a.bubble.lose {
        background-color: #d81920;
    }

        a.bubble.lose::after {
            content: 'L';
        }

    a.bubble.draw {
        background-color: #76766f;
    }

        a.bubble.draw::after {
            content: 'D';
        }

/* ------------------- */
/* Mobile view         */
/* ------------------- */
@media only screen and (max-width : 767px) {
    main {
    }
}
