/* Main */
main > header.hero {
    position: relative;
    z-index: 1;
}

    main > header.hero > .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 30%;
        z-index: -1;
        opacity: 0.2;
        background-image: url('./images/team.jpg');
    }

    main > header.hero > .search_container {
        margin: 1rem 0 0 3rem;
        position: relative;
        width: 25.5rem;
    }

        main > header.hero > .search_container > input::placeholder {
            color: var(--white);
            font-style: italic;
            font-size: 0.8em;
            opacity: 1;
        }

        main > header.hero > .search_container > input {
            border: 0;
            color: #fff;
            border-radius: 2rem;
            box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
            background-color: rgba(var(--active-row-background-color-opacity), 0.8);
            font-size: 1.5rem;
            padding: 0 3.5rem 0 2rem;
            height: 3.5rem;
            width: 100%;
        }

        main > header.hero > .search_container > #search_button {
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            border-radius: 100%;
            right: 0.5rem;
            top: 0.5rem;
            margin-top: 0;
            background-color: var(--white);
            color: var(--active-text-color);
            transition: all 0.2s;
        }

            main > header.hero > .search_container > #search_button > i {
                line-height: 2.5rem;
                display: block;
                font-size: 1.25rem;
                text-align: center;
            }

            main > header.hero > .search_container > #search_button:hover,
            main > header.hero > .search_container > #search_button:focus {
                background-color: var(--active-row-background-color);
                color: var(--white);
                cursor: pointer;
            }

main > section {
    margin-bottom: 2rem;
}

    main > section > ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    main > section .card {
        transition: transform 0.2s;
    }

        main > section .card:hover {
            transform: scale(1.02);
        }

            main > section .card:hover a .clubInfo {
                background: linear-gradient(270deg,var(--active-text-color),var(--active-row-background-color) 45%);
                border-top: 1px solid var(--white);
                border-radius: 0 0 4px 4px;
                color: var(--white);
            }

                main > section .card:hover a .clubInfo .clubName {
                    color: var(--white);
                }

                main > section .card:hover a .clubInfo i {
                    right: 1rem;
                }

        main > section .card a {
            display: block;
        }

            main > section .card a:hover, main > section .card a:focus {
                text-decoration: none;
            }

        main > section .card .indexImg {
            background: radial-gradient(var(--white) 0%, var(--active-row-background-color) 90%);
            height: 8.75rem;
            border-radius: 4px 4px 0 0;
            position: relative;
        }

            main > section .card .indexImg .indexBadge {
                position: absolute;
                top: 1rem;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--white);
                border-radius: 100%;
                height: 6.75rem;
                width: 6.75rem;
            }

                main > section .card .indexImg .indexBadge img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    height: 75%;
                    width: 75%;
                }

        main > section .card .clubInfo {
            display: grid;
            grid-template-columns: 1fr 1.3rem;
            text-align: center;
            padding: 1rem;
            justify-content: space-between;
            align-items: center;
            min-height: 7rem;
            position: relative;
        }

            main > section .card .clubInfo > .nameContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }

            main > section .card .clubInfo > i {
                transition: right 0.2s;
                right: 1.3rem;
                position: absolute;
                width: 1rem;
            }

            main > section .card .clubInfo .clubName {
                font-size: 1.3rem;
                color: var(--active-text-color);
            }

            main > section .card .clubInfo .stadiumName {
                font-size: 0.9rem;
            }

/* -------------------- */
/* Mobile + Tablet view */
/* -------------------- */
@media only screen and (max-width : 1023px) {
    main > header.hero > .background {
        background-image: url('./images/team_mobile.jpg');
    }

    main > section > ul {
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
        grid-gap: 1rem;
    }
}

/* ------------------- */
/* Mobile view         */
/* ------------------- */
@media only screen and (max-width : 767px) {
    main > header.hero {
        flex-direction: column;
        align-items: initial;
        justify-content: center;
    }

        main > header.hero > .search_container {
            margin-left: 0;
            width: 100%;
        }
}